#nav {
    top: 0;
    width: 100%;
    height: auto;
    background: rgb(1, 21, 51);
    position: fixed;
    font-size: 2vh;
    padding: 3vh 5% 3vh 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.73);
    z-index: 100;
}

#nav a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: inline-block;
    width: 20%;
    box-shadow: 0 0 5px rgb(1, 21, 51);
    padding: 5px;
    border-radius: 5px;
}

#nav p {
    color: white;
    display: inline-block;
    width: 79%;
    text-align: right;
}

#nav a:hover {
    background: none;
    animation: border 3s ease;
    box-shadow: 0 0 5px white;
}

@keyframes border {
    0% {border: none;}
    100% {box-shadow: 0 0 5px white;}
}